body {
    
    /* background-image: linear-gradient(120deg, #e2c35d, #d88771); */
    background-image: linear-gradient(120deg, #7e5de2, #dbb809);;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

    /* background-image: url("../static/img/todoBack_1.jpg"); */
    /* background-repeat: no-repeat;
    /* height: auto; 
    background-size: 100% 100%;
    overflow: hidden;
    height: 100vh; */
}
/* #c9acc9 - purple
#f1f17f - yellow*/
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */
    margin: 10px 0px;
}

.input {
    margin: 18px;
    border: 2px solid rebeccapurple;/*coral;*/
    padding: 10px;
    /* border-radius: 10px; */
    width: 16em;

}

.signupform {
    /* display: block;
    margin:auto; */
    border: 3px solid rebeccapurple;
    border-radius: 20px;
    background-color: #c9acc9;/*#d3e334d6;#8d6237d6;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    /* width: 90vw; */
    /* border: 1px solid yellow; */

}

.existing {
    text-align: center;
    margin: 6px 48px;
    color: rebeccapurple;
}


.login-link {
    text-decoration: none;
    color: black;
}

.signup-button {
    padding: 6px;
    margin: 0px 10px;
    border-radius: 7px;
    border: 3px solid rebeccapurple;
    color: black;
    font-size: 1rem;
    background-color: yellow;/* coral;/*sandybrown*/
}

.signup-button:hover{
    background-color: coral;
}

.heading {
    text-align: center;
    margin: 5px 5px;
    font-size: 3em;
    color: yellow;/*coral;*/
    position: relative;
    top: 1em;

}


.error{
    color: red;
    text-align: center;
    margin: 10px;
}